<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <div class="menu-icon">
                <img src="{{ url_for('static', filename='menu_icon.png') }}" alt="Menu" id="menu-button">
            </div>
            <h3>Raptor Info Chat</h3>
            <button id="delete-button" class="delete-button">全削除</button>
        </div>
        <div id="menu-list" class="menu-list">
            <ul>
                <li><a href="/zmq"><span class="icon"><i class="fas fa-exchange-alt"></i></span><span class="text">zmq</span></a></li>
                <li><a href="/page2"><span class="icon"><i class="fas fa-file-alt"></i></span><span class="text">Page 2</span></a></li>
                <li><a href="/page3"><span class="icon"><i class="fas fa-cogs"></i></span><span class="text">Page 3</span></a></li>
            </ul>
        </div>
        <div class="chat-messages" id="messages">
            <!-- メッセージがここに表示される -->
        </div>
        <div class="chat-input">
            <input type="text" placeholder="メッセージを入力..." id="message-input">
            <button id="send-button">送信</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
